.input {
    max-width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: medium;
}

.submit {
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    font-size: medium;
    display: block;
    margin: auto;
}
